div#itemDataList {
  margin-left:auto;
  margin-right:auto;
  width: 510px;
}

div#errorMsg {
  margin-left:auto;
  margin-right:auto;
  width:500px;
  height:50px;
  clear: left;
}

div.itemImage {
  margin-left:auto;
  margin-right:auto;
}

div.item {
  width:100px;
  height:80px;
  float:left;
  border:1px solid #ddd;
  border-radius: 0.3em;
}

div.name {
  width:100px;
  height:80px;
  text-align: center;
}
div.item div.tooltip {
    z-index:10;
    display:none;
    padding:10px 10px;
    margin:-150px 70px;
    width:300px;
    
    position:absolute;
    color:#fff;
    border:1px solid #000;
    background:#000;
    opacity: 0.7;
}

